/*div {
	float: left;
	margin: auto 0;
}*/	
h2 {
	font-family: Raleway;
	margin: 1.66%;
	font-size: 23px;
	text-transform: uppercase;
}
img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

hr {
	width: 30%;
	margin: 1.66%;
}